@charset "UTF-8";
/* CSS Document */

@font-face {

    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 100;
    src: local('Marcin Antique Thin'),
        url('/fonts/MarcinAntiqueStandard-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 200;
    src: local('Marcin Antique Extra Light'),
        url('/fonts/MarcinAntiqueStandard-Extralight.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 300;
    src: local('Marcin Antique Light'),
        url('/fonts/MarcinAntiqueStandard-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 400;
    src: local('Marcin Antique Book'),
        url('/fonts/MarcinAntiqueStandard-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 500;
    src: local('Marcin Antique Regular'),
        url('/fonts/MarcinAntiqueStandard-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 600;
    src: local('Marcin Antique Medium'),
        url('/fonts/MarcinAntiqueStandard-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 650;
    src: local('Marcin Antique SemiBold'),
        url('/fonts/MarcinAntiqueStandard-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 700;
    src: local('Marcin Antique Bold'),
        url('/fonts/MarcinAntiqueStandard-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 800;
    src: local('Marcin Antique Black'),
        url('/fonts/MarcinAntiqueStandard-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Marcin Antique';
    font-style: normal;
    font-weight: 800;
    src: local('Marcin Antique Extra'),
        url('/fonts/MarcinAntiqueStandard-Extra.woff2') format('woff2');
}

a {
    color: black;
    text-decoration: none;
}

.logotype-header {
    max-width: 101%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -2px;
    padding-bottom: 15px;
}

.header-other {
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0px;
}

/* Spacers */

.spacer-above,
.spacer-below,
.spacer-end,
.spacer-between {
    display: flex;
    margin-bottom: 0px;

}

.spacer-above {
    padding-top: 50px;

}

.spacer-below {
    padding-bottom: 50px;

}

.spacer-between {
    padding-top: 50px;
    padding-bottom: 50px;
}

.spacer-end {
    padding-top: 60px;
    padding-bottom: 0px;
}

.spacer-img-l {
    max-width: 100%;
    max-height: 70px;

}

.spacer-img-s {
    max-width: 100%;
    max-height: 50px;

}


a,
button {
    line-height: normal;

}


.nh-list {
    font-weight: 700;
}

.nh {
    font-weight: 700;
    font-size: 40%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: block;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 2px;
}

.prj-footer-title {}

.title-col {
    margin-bottom: 0;
}

.bg-full {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 15px;
    color: #f2f2f2;
}

.bg-full:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100vw;
    background-color: black;
}

.bg-full.ochre:before {
    background-color: #DB7C26;
}

.bg-full.flame:before {
    background-color: #D8572A;
}

.slideshow-ctrl {
    cursor: pointer;
}

.slideshow {
    padding-bottom: 15px;
}

.row.not-first {
    margin-top: 30px;
}

.cycle-controls {
    margin-top: 7.5px;
}

.title-after-img {
    font-size: 14px;
    line-height: 21px;
    padding-top: 8px;
    padding-left: 2px;
    margin-bottom: 8px;
    display: inline-block;
    width: 98%;
    height: 47px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover .title-after-img h2.body-prj-title {
    border-bottom: 1px solid;
}

.grid-prj-about {
    display: inline;
    font-style: italic;
}

body {
    font-family: "Marcin Antique", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.3px;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    color: black;
    background-color: $offwhite;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

strong {
    font-weight: 700;
}

h2.prj-title {

    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
    column-span: all;
    line-height: 1.2;
    max-width: 90%;
    display: block;
}

h2.body-prj-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: inline;
}

.body-prj-pub {
    font-weight: 400;
}

.in-prj-title-col {
    margin-bottom: 8px;
}

h2.black {
    font-weight: 800;
}

.contact-email {
    font-weight: 200;
    font-size: 30px;
}

.header-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.header-link:hover {
    border-bottom: 1px solid black;
}

.header-link.cta {
    font-weight: 600;
}

h3.sub-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.5px;

    margin-bottom: 5px;
    line-height: 1.2;
    max-width: 90%;
    display: block;
}

h3.sub-title.top-30 {
    margin-top: 30px;
}

.yellow {
    color: #FFA62B;
}

.red {
    color: #F05F2C;
}

.pink {
    color: #FF94C9;
}

.teal {
    color: #5CB9CC;
}

.green {
    color: #7A8A3D;
}

h3.sub-sub {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;

}

h3.para-text {
    font-weight: 700;
    text-transform: uppercase;

}

h3.more-text {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

h3.serif {
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-size: 14px;
}

.header,
.sub-header {
    overflow-x: hidden;
}

.header {
    top: 0;
    z-index: 1000;
    font-size: 14px;
    line-height: 20px;
    transition: opacity 0.3s ease;
}

.logotype-header {
}

.op-0 {
    opacity: 0;
    display: none;
}

.op-1 {
    opacity: 1;

}

.container-fluid.footer {
    background-color: #FF94C9;
    margin-bottom: -10px;
    padding-bottom: 15px;
}

.footer,
.border-footer {
    padding-top: 10px;
    background-color: #F2F2F2;
    font-size: 14px;
    line-height: 18px;
}

.border-footer {
    border-top: 7.5px solid #FFB400;
    animation: smile-hue 10s infinite linear;
}

#contact-footer {
    position: absolute;
    bottom: 0;
}

.footer-sun {
    width: 150px;
}

.header-col {
    margin-bottom: 0px;
    line-height: 21px;
    border-left: 1px solid;
}

.header-col.title {
    border-left: none;
}

.header::after,
.sub-header::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 0px solid white;
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0rem 9999rem;
    overflow-x: hidden;
}

.blog-row::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border-top: 1px solid black;
    margin: -10px -9999rem;
    /* add back negative margin value */
    padding: 0rem 9999rem;
    overflow-x: hidden;
}

.sub-header {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: normal;
    padding-top: 10px;
    padding-bottom: 8px;
    z-index: 100;
}

.sub-header-perm-col {
    font-weight: 400;
}

#sub-header-collapse-col {
    padding-bottom: 15px;
    display: inline;
}

.prjs-menu-grid-item {
    height: 100%;
}

.sub-header-col {
    border-left: 1px solid;
}

.header-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub-header-row {
    margin-bottom: 0px;
    background-color: transparent;
}

.blog-row {
    padding-top: 40px;
}

#mobile-desc {
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 17px;
}

.header a.top-link {
    font-size: 14px;
}

a.top-link {
    color: black;
    background-color: transparent;
}

a.top-link {
    border-bottom: none;
}

input:is([type="button"], [type="submit"], [type="reset"]),
input[type="file"]::file-selector-button,
button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.header-link.tags {
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 1px;
    margin-right: 4px;
}

.tags-browse {
    font-weight: 400;
    margin-right: 6px;
}

.sub-button:hover,
.fake-sub-button:hover,
ins.play-gif:hover {
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.sub-button:focus,
.sub-button.is-checked,
.fake-sub-button:focus,
.fake-sub-button.is-checked {
    font-weight: 800;
}

h4.sub-header-subtitle {
    font-family: "Marcin Antique", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}

.sub-header-link {
    display: inline-block;
    margin-right: 6px;
}

.sub-header-link:hover {
    border-bottom: 1px solid;
}

a.top-link:hover,
a.top-link.selected,
.top-link.active {
    border-bottom: 1px solid;
}

#store-link {
    color: gray;
    text-decoration: line-through;
    cursor: no-drop;
}

#store-link:hover {
    font-weight: initial;

}

.collapse.show {
    display: flex;
}

.text a,
.footnotes a,
.quoted-text a,
.blog-text-lg a,
.caption a {
    border-bottom: 1px solid #FFB400;
    /*	animation: smile-hue 3s infinite linear; */
}

.text a:hover,
.footnotes a:hover,
.quoted-text a:hover {
    border-bottom: 1px solid black;
}

.first-p {
    margin-top: 30px;
}

.last-p {
    margin-bottom: 30px;
}

.list-title a {
    border-bottom: none;
    animation: none;
    font-size: 14px;
}

.main {
    padding-top: 8px;
    padding-bottom: 30px;
    /* fucks scrolling */
    /* overflow-x: hidden; */
    height: 100%;
}


.main.about {
    margin-top: 30px;
}

.container-fluid.contact {
    margin-top: 80px;
}

.main.prj {
    padding-top: 45px;
    background-color: #ffffff;
    padding-bottom: 0px;
}

.prj-sub-header {
}



.blog {
    margin-top: 32px;
}

img {
    max-width: 100%;
}

video {
}

video::-internal-media-controls {
    display: none;
}

video::-webkit-media-controls {
    display: none;
}

.mono {
    font-family: "Marcin Antique Mono", sans-serif;
    font-size: 12px;
    letter-spacing: normal;
}

.prj-deet-col {
    border-left: 1px solid;
}

.para-text-2,
.prj-deets-2,
.prj-deet,
.caption,
.footnote,
.footnotes {
    font-family: "Marcin Antique", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.prj-deet-link {
    text-decoration: underline;
}

.custom-credit-link:hover {
    border-bottom: 1px solid;
}

.custom-credit-link::after {
 content: " →";
}

.caption {
    padding-top: 8px;
}

.caption::before {
    content: "↑ "
}

.para-text-2,
.prj-deets-2,
.footnotes {
    width: 80%;
}

.footnotes {
    margin-top: 21.5px;
}

.prj-deet {
    font-weight: 600;
    display: block;
}

.hanging {
    position: relative;
    padding-top: 10px;
    margin-top: 0px;
}

.disc_hanging::before {
    background-color: gray;
    top: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 40px;
}

.hanging.reversed::before {
    background-color: #F2F2F2;
}

.new-link,
.prj-footer-link {}



.caption,
.footnotes,
.footnote,
.list-item-divider {
    margin-bottom: 0;

}

sup {
    color: darkgray;
    font-weight: 400;
}

.prj-deets {
    margin-top: 15px;
    column-span: all;
    font-size: 12px;
    font-weight: 400;
}

.prj-tags {
    font-style: italic;
}

p.text,
p.more-text,
p.quoted-text,
p.para-text {
    line-height: 21px;
    max-width: 100%;
}

.blog-text {
    margin-top: 12px;
    line-height: 1.2;

}

.blog-text-lg {
    font-size: 20px;
    line-height: 1.4;
}

.quote {
    font-family: Hoefler Text, Times New Roman, Serif;
    line-height: 1.5;
    margin-right: 50px;
}

h2.list-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 100%;*/
    margin-bottom: 0 !important;
    margin-right: 0;
    max-width: 100%;
    display: inline-block;
    line-height: normal;
    font-size: 14px;
}

h2.blog-title {}

.serif-text {
    font-family: 'IBM Plex Serif';
    line-height: 1.5;
}

.list-row {
    padding-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-row .col-12 {
    margin-bottom: 0;
}

.list-row:hover .list-title a,
strong.fancy {

    color: #FFB400 !important;
    animation: smile-hue 3s infinite linear;
}

.text strong.simple {
    color: black !important;
    animation: none;
}

.list-title a {
    display: inline-block;
    /*width: 100%;*/
    font-weight: 400;
}

.list-prj-tags {
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline;

}

.list-title::before {
    content: " > ";
}

.list-prj-date::before {
    content: " * ";
}

.list-prj-tags::before {
    content: " # ";
}

.list-item-divider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.container-list {
    font-family: calling-code, sans-serif;
    max-width: 100% !important;
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.grid-img {
    border-radius: 8px;
    max-width: 100%;
}


.pdd-img {
    padding-bottom: 15px;
}

.about-row {
    padding-top: 90px;
}

a.about-link {
    line-height: 1.5;
}

.constrain-btn {
    display: none;
}

.top-margin-row {
    margin-top: 75px;
}

.top-pdd-row {
    padding-top: 30px;
}

#play-p,
#play-l,
#play-a,
#play-y {}

#play-p,
#play-a {
    display: inline-block;
    transform: translateY(-3px);
}

.grid-item {}

.prj-footer {
    color: black;
    background-color: #f2f2f2;
    padding-top: 15px;
    position: relative;

}

.prj-footer-title {
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: -2px;
    margin-top: -5px;
}

h3.prj-footer-sub-title {
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper {
    overflow: hidden;
}

.sliding-background {
    background: url("images/marquee-2.jpg") repeat-x;
    background-size: contain;
    height: 25px;
    width: 6000px;
    animation: slide 60s linear infinite;
}


.hero-headline {
    font-family: gopher, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 1.2;
    margin-top: 90px;
    margin-bottom: 0;

}

.hero {
    color: #f2f2f2;
    background-color: black;
}

.hero-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;

}

.sub-prj-title {
    font-family: gopher, sans-serif;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
}

.sub-prj-row {
    margin-top: 120px;
}

#carousel-hero {
    margin-top: 15px;
    margin-bottom: 0px;
}



.carousel-cell {
    width: 25%;
    /* full width */
    height: 160px;
    /* height of carousel */
    margin-right: 10px;
}

.nl-wrapper {
    display: block;
    margin-top: 30px;
    margin-bottom: 0px;
    max-width: 270px;
    height: auto;
    padding: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 34px;
}

.nl-cta {
    font-size: 16px;
    line-height: 1.2;
    padding: 5px;
    margin-bottom: 0;
}

input.email,
input.button {
    padding: 6px 15px 5px 15px;
    background-color: black;
    border: 1px solid #f2f2f2;
    border-radius: 18px;
    line-height: 20px;
    color: #f2f2f2;
    margin-top: 15px;
    width: 100%;
}

input.button {
    font-weight: 600;
}

input.email::placeholder {
    padding-left: 5px;
    padding-top: 1px;
    color: #f2f2f2;
}

input.email:focus {

    border: 1px solid #FFB400;
    outline: none;
    animation: smile-hue 10s infinite linear;
}

input.button:hover {
    color: black;
    background-color: #f2f2f2;
}

.hero-lead {
    font-size: 18px;
    line-height: 1.3;
    max-width: 80%;
    margin-bottom: 5px;
}

.fake-sub-button.newsletter {
    font-weight: 200;
}

.client-list {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -0.2px;
    margin-bottom: 30px;
    line-height: 1.4;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-3000px, 0, 0);
    }
}


/* sm */

@media (min-width: 576px) {

    .main {
        padding-top: 208px;
    }

    .sub-header,
    .prj-after-header {
        padding-top: 100px;
    }


    .hero,
    .pre-hero {
        padding-top: 95px;
    }

    .pre-hero {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header {
        position: fixed;
    }

    .header-row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

/* md */

@media (min-width: 768px) {

    .main {
        padding-top: 108px;
    }

    .sub-header,
    .prj-after-header {
        padding-top: 75px;
    }

    .logotype-header {
        padding-bottom: 0px;
    }

    .list-prj-tags {
        padding: 0 0 0 0;
        margin: 0;
    }

    .b-img {
        max-width: 80%;
    }

    .c-img {
        max-width: 60%;
    }

    .contact-email {
        font-size: 40px;
    }

    .client-list {
        font-size: 36px;
    }

}

/* lg */

@media (min-width: 992px) {

    .sub-header,
    .prj-after-header {
        padding-top: 55px;
    }

    .split-2-md {

        column-count: initial;
    }

    .constrained-img {
        max-height: 83vh;

    }

    .constrain-btn {
        display: block;
        position: absolute;
        top: 5px;
        left: 15px;
        background-color: inherit;
    }

    .container-fluid.footer {
        bottom: 0;
    }

}

/* xl */

@media (min-width: 1200px) {

    .sub-header,
    .prj-after-header {
        padding-top: 60px;
    }
}

/* xxl */

@media (min-width: 1400px) {

    .sub-header,
    .prj-after-header {
        padding-top: 116px;
    }

}

/* xxxl */

@media (min-width: 2300px) {

    .sub-header,
    .prj-after-header {
        padding-top: 94px;
    }

}
