@charset "UTF-8";
/* CSS Document */

.nh {
    font-family: 'Ultra';
    font-size: 12px;
    letter-spacing: 0.1px;
    display: inline-block;
}

.bg-full {
    position: relative;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    color: #f2f2f2;
}

.bg-full:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50%);
    height: 100%;
    width: 100vw;
    background: black;
}

.slideshow-ctrl {
    cursor: pointer;
}

.slideshow {
    padding-bottom: 15px;
}
.row.not-first {
    margin-top: 30px;
}

.cycle-controls {
    margin-top: 7.5px;
}

.grid-item-hover {
    opacity: 0;
    position: absolute;
    top: 50%;
	left: 7.5px;
    color: black;
    width: calc(100% - 15px);
    height: 51%;
    background-origin: content-box;
    
 
}

.grid-prj-tags {
    font-family: 'IBM Plex Sans';
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 10px;
    letter-spacing: 1;
    display: inline-block;
    margin-top: 5px;
    
}

.grid-prj-tags::before {
    content: '→ ';
}

.grid-item:hover .grid-item-hover {
    opacity: 1;
    transition: 0.2s;
    z-index: 100;
    background-color: #F2F2F2;
    
}

.grid-item-smile-2 {
    background-image: url(images/smile.png);
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
    animation: smile-hue 3s infinite linear;
    display: block;
    margin-left: 9px;
    margin-top: 3px;
    display: inline-block;
}


.grid-item-hover .prj-title {
    padding-top: 8px;
    padding-left: 10px;
    line-height: 1.2;
    
    
}

.grid-prj-about {
    display: inline;
    font-style: italic;
}

body {
	font-family: "Helvetica Neue", Helvetica, "Aileron",Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.4px;
	overflow-x: hidden;
	width: 100%;
    color: black;
    background-color: #F2F2F2;

}

h1 {
	font-weight: 900;
	font-size: 16px;
	letter-spacing: -0.3px;
	line-height: 16px;
	margin: 0;
}

h2 {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 5px;
    column-span: all;
    line-height: 1.2;
    max-width: 90%;
}

h3.sub-sub {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;

}

h3.para-text {
    font-weight: 700;
    text-transform: uppercase;

}

h3.more-text {
	margin-top: 30px;
	font-weight: 700;
	font-size: 14px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

h3.serif {
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-size: 14px;
}

.header {
	padding-top: 10px;
	background-color: #F2F2F2;
	top: 0;
	z-index: 1000;
    font-size: 14px;
	line-height: 16px;
}

.footer, .border-footer {
    padding-top: 10px;
	background-color: #F2F2F2;
    font-size: 14px;
	line-height: 16px;
}

.border-footer {
    border-top: 7.5px solid #FFB400;
	animation: smile-hue 10s infinite linear;
}

#contact-footer {
    position: absolute;
    bottom: 0;
}

.header-col {
    margin-bottom: 15px;
}

.header::after, .sub-header::after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	border-bottom: 0px solid white;
	margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0rem 9999rem;
	overflow-x: hidden;
}

.blog-row::before {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	border-top: 1px solid black;
	margin: -10px -9999rem;
    /* add back negative margin value */
    padding: 0rem 9999rem;
	overflow-x: hidden;
}

.sub-header {
    padding-top: 5px;
    overflow-x: hidden;
    z-index: 100;
}

.sub-header, .prjs-menu-grid-item {
	
	font-family: 'IBM plex sans', monospace;
    text-transform: uppercase;
	font-size: 10px;
	line-height: 1;

    background-color: #FFB400!important;
	animation: smile-hue 10s infinite linear;
    
}

.prjs-menu-grid-item {
    height: 100%;
}

.sub-header-col {
    margin-bottom: 5px;
}

.header-row {
    margin-bottom: 0px;
}

.sub-header-row {
    margin-bottom: 5px;
}

.blog-row {
	padding-top: 40px;
}

#mobile-desc {
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 17px;
}

.header a.top-link {
    font-size: 14px;
}

a.top-link, button.sub-button {
	color: black;
    background-color: transparent;
}

a.top-link {
    border-bottom: none;
}

a.top-link:hover, a.top-link.selected, .sub-button.selected , button.sub-button:focus, button.sub-button:hover, .top-link.active, .sub-button:hover {
	font-weight: 500;
}

#store-link {
    color: gray;
    text-decoration: line-through;
    cursor: no-drop;
}

#store-link:hover {
    font-weight: initial;
    
}

button.sub-button, .sub-button, .sub-header-subtitle {
	cursor:pointer;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
	padding: 0;
    margin-bottom: 5px;
    line-height: 17px;
    display: inline-block;
}

button.sub-button, .sub-button {
    border-bottom: 1px solid black;
}

.sub-button {
    display: inline-block;
    margin-right: 5px;
}

.collapse.show {
    display: flex;
}

.text a, .footnotes a, .quoted-text a, .blog-text-lg a, .caption a {
	border-bottom: 1px solid #FFB400;
	animation: smile-hue 3s infinite linear;
}

.text a:hover, .footnotes a:hover, .quoted-text a:hover {
	border-bottom: 1px solid black;
}

.first-p {
    margin-top: 30px;
}

.list-title a {
	border-bottom: none;
	animation: none;
    font-size: 14px;
}

.cta {
	font-weight: 700;
	color: #FFB400!important;
	animation: smile-hue 3s infinite linear;
}

button.sub-button::after {

}

button.sub-button:focus, button.sub-button:active {
	outline: none;
}

.main {
	margin-top: 15px;
    margin-bottom: 45px;
	/* fucks scrolling */
	/* overflow-x: hidden; */
    height: 100%;
}

.blog {
	margin-top: 32px;
}

img {
	max-width: 100%;
}

button {
    font-family: 'IBM plex sans', monospace;
    font-size: 10px;
    letter-spacing: 0;
	line-height: 1.5;
}

.para-text, .caption, .footnotes, .footnote, .list-prj-date, .list-prj-tags {
	font-family: 'IBM plex sans', monospace;
	font-size: 12px;
	letter-spacing: normal;
	line-height: 1;
}

.list-prj-date, .list-prj-tags, h2.list-title {
    display: inline!important;
    margin-left: 5px;
}

.list-prj-tags {
    font-family: 'IBM plex sans', monospace;
	font-size: 12px;
}

.caption, .footnotes, .footnote, .list-prj-tags, .list-prj-date {
	color: darkgrey!important;
	margin-bottom: 0;

}

sup {
	color: darkgray;
    font-weight: 500;
}

.prj-deets {
	margin-top: 15px;
    column-span: all;
    font-size: 12px;
    font-weight: 500;
}

.prj-tags {
    font-style: italic;
}

p.text, p.more-text, p.quoted-text, p.para-text {
	line-height: 1.5;
	max-width: 100%;
}

.blog-text {
	margin-top: 12px;
	line-height: 1.2;
	
}

.blog-text-lg {
	font-size: 20px;
	line-height: 1.4;
}

.quote {
	font-family: Hoefler Text, Times New Roman, Serif;
	line-height: 1.5;
	margin-right: 50px;
}	

h2.list-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*width: 100%;*/
    margin-bottom: 0!important;
}

h2.blog-title {
	
}

.serif-text {
  font-family: 'IBM Plex Serif';
    line-height: 1.5;
}


.sub-title {
	padding-top: 100px;
}

.list-item:hover .list-title a, strong.fancy {

	color: #FFB400!important;
	animation: smile-hue 3s infinite linear;
}

.text strong.simple {
	color: black!important;
	animation: none;
}

.list-title a {
	display: inline-block;
	/*width: 100%;*/
    font-weight: 400;
}

.list-prj-tags {
	padding-bottom: 0;
	margin-bottom: 0;
	display: inline;

}

.list-item::after {
	content: "";
	display: block;
	padding-top: 0px;
    padding-bottom: -5px!important;
    margin-bottom: -20px!important;
	border-bottom: 1px solid lightgray;
}

.list-prj-date::before {
    content: "→ ";
}

.list-prj-tags::before {
    content: "❒ ";
}

.list-prj-subs::before {
    content: "⌗ ";
}

.grid-img {
    max-width: 100%;
}

.pdd-img {
	padding-bottom: 15px;
}

a.about-link {
	line-height: 1.5;
}

.constrain-btn {
    display: none;
}

.top-margin-row {
    margin-top: 75px;
}

.top-pdd-row {
    padding-top: 30px;
}

#play-p, #play-l, #play-a, #play-y {

}

#play-p, #play-a {
    display: inline-block;
    transform: translateY(-3px);
}

.grid-item {
    
}

.prj-footer {
    color: black;
    background-color: #dedede;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 30px;
    position: relative;

}

.prj-footer-title {
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: -2px;
    margin-top:-5px;
}

h3.prj-footer-sub-title {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: -10px;
}

.prj-footer-link {
}

@keyframes smile-hue {
	
	0% {filter: hue-rotate(0deg); }
	10% {filter: hue-rotate(36deg); }
	20% {filter: hue-rotate(72deg); }
	30% {filter: hue-rotate(108deg); }
	40% {filter: hue-rotate(144deg); }
	50% {filter: hue-rotate(180deg); }
	60% {filter: hue-rotate(216deg); }
	70% {filter: hue-rotate(252deg); }
	80% {filter: hue-rotate(288deg); }
	90% {filter: hue-rotate(324deg); }
	100% {filter: hue-rotate(360deg);}
	
}

@keyframes smile-rotation {
	
	from { transform: rotate(0deg); }

	to {transform: rotate(359deg); }
	
}


@media (min-width: 481px) {
    .sub-header {
		padding-top: 100px;
	}
    
    .header {
        position: fixed;
    }
}

@media (min-width: 768px) {
    
    
    
    .para-text, .list-prj-tags, .caption, .footnotes, .footnote, button, .list-prj-date {
	font-family: 'IBM plex sans', monospace;
	font-size: 12px;
    font-weight: 300;

	line-height: 1.5;
}
	
	p.text, p.more-text, p.quoted-text, p.para-text {
	line-height: 1.5;
}	
    
	.sub-header {
		padding-top: 100px;
        
	}

	.list-prj-tags {
    	padding: 0 0 0 0;
		margin: 0;
	}
    
    .split-2-md {
    
    column-count: 2;
    column-gap: 16px;
    }

    .b-img {
    max-width: 80%;
}

    .c-img {
    max-width: 60%;
    }
    
}    
    
@media (min-width: 992px) {
    
	.sub-header {
		padding-top: 65px;
	}

    p.text, p.more-text, p.serif-text {
	max-width: 90%;
    }

    .split-2-md {
    
    column-count: initial;
    }

	.constrained-img{
		max-height: 83vh;
		
	}        
    
    .constrain-btn {
        display: block;
        position: absolute;
        top: 5px;
        left: 15px;
        background-color: inherit;
    }
    
}    

@media (min-width: 1200px) {

    p.text, p.more-text, p.serif-text {
	    max-width: 80%;
    }

}
    
@media (pointer: fine) {
  
	.list-item-smile, .grid-item-smile {
		background-image: url(images/smile.png);
		background-repeat: no-repeat;
		background-size: 20px;
		display: none;
		width: 20px;
		height: 20px;
		animation: smile-hue 3s infinite linear, smile-rotation 1.5s infinite linear;

		}

	.list-item-smile {
		margin-left: 8px;
		position: absolute;
		bottom: 45px;
		background-origin: padding-box;

		}

	.grid-item-smile {
		position: relative;
		top: 0px;
		right: 5px;
		background-origin: content-box;
		}

	.grid-item:hover .grid-item-smile {
		display: inline;

		}
	
	
}


