<div class="container-fluid above-the-fold">
    <div class="img-preloader">
        <img src="/images/indie-26-culturgest-2.jpg" alt="">
        <img src="/images/indie-26-junior-poster.jpg" alt="">
        <img src="/images/indie-26-programa.jpg" alt="">
        <img src="/images/branko-soma-front-back.jpg" alt="">
    </div>
    
    <div class="above-arrow-down-container d-none d-md-block">
        <button id="scrollDownButton" class="above-arrow-down">↓</button>
    </div>

    <a href="/projects/indielisboa-26">
    <div id="slide-1" class="wrapper above-the-fold container-fluid">
        <div class="row atf">
            <div class="col-12 col-atf first">
           <span class="text-fold">IndieLisboa 26</span>
            </div>
        </div>
    </div>
</a>
    
<a href="/projects/indielisboa-26">
<div id="slide-2" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
    <div class="row atf">
        <div class="col-12 col-atf first">
           <span class="text-fold">IndieLisboa 26</span>
        </div>
    </div>
</div>
</a>

<a href="/projects/indielisboa-26">
    <div id="slide-3" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">IndieLisboa 26</span>
            </div>
          
        </div>
    </div>
</a>
<a href="/projects/indielisboa-26">
    <div id="slide-4" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">IndieLisboa 26</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/indielisboa-26">
    <div id="slide-5" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">IndieLisboa 26</span>
            </div>
        </div>
    </div>
</a href="/projects/branko-soma">
<a>
    <div id="slide-6" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Branko - Soma</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/branko-soma">
    <div id="slide-7" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Branko - Soma</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/branko-soma">
    <div id="slide-8" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Branko - Soma</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/nyt-magazine-screenland-kevin">
    <div id="slide-9" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">The New York Times Magazine - Screenland</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/zeit-magazin-unter-verschluss">
    <div id="slide-10" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Die Zeit Magazin</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/zeit-magazin-unter-verschluss">
    <div id="slide-11" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Die Zeit Magazin</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/herb-lester-situation-vacant-sex-pistols-malcolm-mclaren-london">
    <div id="slide-12" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Herb Lester - Situation Vacant</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/herb-lester-situation-vacant-sex-pistols-malcolm-mclaren-london">
    <div id="slide-13" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Herb Lester - Situation Vacant</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/herb-lester-situation-vacant-sex-pistols-malcolm-mclaren-london">
    <div id="slide-14" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Herb Lester - Situation Vacant</span>
            </div>
        </div>
    </div>
</a>
<a href="/projects/paperwallet-melocactus">
    <div id="slide-15" class="wrapper above-the-fold container-fluid" style="visibility: hidden;">
        <div class="row atf">
            <div class="col-12 col-atf first">
                <span class="text-fold">Melocactus</span>
            </div>
        </div>
    </div>
</a>  
</div>