{% include footer-proper.html %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script>
      const subscribeButtonTag = document.querySelector("input#subscribe-button")

      $('#subscribe-button').click(function () {

            subscribeButtonTag.setAttribute("value", "Thanks!")
      });
</script>

<script>
      var filterFns = {

      };

      function getHashFilter() {
            // get filter=filterName
            var matches = location.hash.match(/filter=([^&]+)/i);
            var hashFilter = matches && matches[1];
            return hashFilter && decodeURIComponent(hashFilter);
      }


      // init Isotope
      var $grid = $('.grid-row');

      // bind filter button click
      var $filterButtonGroup = $('.filter-button-group');
      $filterButtonGroup.on('click', 'button', function () {
            var filterAttr = $(this).attr('data-filter');
            // set filter in hash
            location.hash = 'filter=' + encodeURIComponent(filterAttr);
      });

      var isIsotopeInit = false;

      function onHashchange() {
            var hashFilter = getHashFilter();
            if (!hashFilter && isIsotopeInit) {
                  return;
            }
            isIsotopeInit = true;
            // filter isotope
            $grid.isotope({
                  itemSelector: '.grid-item',
                  layoutMode: 'fitRows',
                  // use filterFns
                  filter: filterFns[hashFilter] || hashFilter
            });
            // set selected class on button
            if (hashFilter) {
                  $filterButtonGroup.find('.is-checked').removeClass('is-checked');
                  $filterButtonGroup.find('[data-filter="' + hashFilter + '"]').addClass('is-checked');
            }
      }

      $(window).on('hashchange', onHashchange);

      // trigger event handler to init Isotope
      onHashchange();

      // layout Isotope after each image loads
      $grid.imagesLoaded().progress(function () {
            $grid.isotope('layout');
      });

</script>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />

<script>
      Fancybox.bind('[data-fancybox]', {
            // Your custom options
            Toolbar: {
                  display: {
                        left: ["infobar"],
                        middle: [
                              "zoomIn",
                              "zoomOut",
                              "toggle1to1",
                              "rotateCCW",
                              "rotateCW",
                        ],
                        right: ["fullscreen", "thumbs", "close"],
                  },
            },
      });
</script>