<div id="header" class="container-fluid header">

      <div class="row header-row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 header-col title">
                  <a href="/">
                        <img class="logotype-header d-sm-none" src="/images/office-santos-logotype-4header-2.png"
                              alt="">
                        <img id="h1-img" class="logotype-header d-none block-on-small"
                              src="/images/office-santos-logotype-4header-2.png" alt="">

                        <h1 id="h1-txt" class="site-title op-0 d-none d-sm-inline">Office Santos</h1>
                  </a>
                  <p class="header-other d-none">
                        Graphic design, Illustration. Lisbon, PT. <br>
                  </p>
            </div>

            <div class="col-6 col-md-3 col-lg-3 d-sm-none d-md-block header-col gone-girl-border-sm">
                  <p class="header-other">
                        Graphic design, Illustration. <br class="d-xl-none"> Lisbon, PT. <br>
                  </p>
                  <a class="header-link" href="/about">Info</a>, <br class="d-none d-xl-block d-xxl-none">
                  <a class="header-link"
                        href="https://soldesignarchive.com/?utm_source=officesantos&utm_medium=web&utm_campaign=24">Sol
                        Design Archive</a><br>
            </div>

            <div class="col-6 col-md-3 col-lg-3 d-sm-none d-md-block header-col">

                  <div id="header-block-3" class="button-group filter-button-group" style="display: inline;">
                        <!-- <span class="tags-browse">Browse </span><br><br> -->
                        <a href="/branding.html" class="header-link tags">branding,</a>
                        <a href="/illustration.html" class="header-link tags">illustration/collage,</a> <br
                              class="d-none d-lg-block">
                        <a href="/covers.html" class="header-link tags">covers,</a>
                        <a href="/studio-prjs.html" class="header-link tags">Studio&nbsp;Projects</a>
                  </div>

                  <br>

            </div>

            <div class="col-6 col-md-3 col-lg-3 d-none d-md-block header-col">
                  <p class="header-other">

                        <a class="header-link cta" href="https://www.map.org.uk/?form=FUNFXHDCJPK">Donate to Medical Aid
                              <br class="d-xl-none">
                              for Palestinians →</a>

                  </p>

            </div>

            <div class="col-12 col-sm-6 d-none d-sm-block d-md-none header-col">
                  <p class="header-other">
                        Graphic design, Illustration. Lisbon, PT. <br>
                  </p>
                  <div class="button-group filter-button-group" style="display: inline;">
                        <span class="tags-browse d-none">Browse: </span>
                        <a href="" class="header-link tags">branding,</a>
                        <a href="" class="header-link tags">illustration/collage,</a> <br>
                        <a href="" class="header-link tags">covers,</a>
                        <a href="" class="header-link tags">Studio&nbsp;Projects</a>
                  </div><br>
                  <a class="header-link" href="/about">Info</a>,
                  <a class="header-link"
                        href="https://soldesignarchive.com/?utm_source=officesantos&utm_medium=web&utm_campaign=24">Sol
                        Design Archive</a>
                  <br>

            </div>

            <div class="col-3 d-md-none">



            </div>

      </div>

</div>