<div class="container-fluid header">

      <div class="row header-row">
            <div class="col-12 col-md-6 col-lg-3 header-col">
                  <a href="/index.html">
                        <img class="bolicha-header" src="/images/office-santos-bolicha-mark-4-color-tight.jpg" alt="">
                  </a>
            </div>

            <div class="col-6 col-md-3 col-lg-4 offset-lg-1 d-none  d-lg-block header-col">
                  <p class="header-other">

                        Graphic design & Illustration. <br>
                        Lisbon → World.

                  </p>

            </div>

            <div class="col-6 col-md-3 col-lg-1 d-none  d-md-block header-col">
                  <a class="header-link" href="/about">Contact & About</a>

            </div>

      </div>

</div>
