<div id="header" class="container-fluid header">

      <div class="row header-row">
            <div class="col-12 col-md-3 col-lg-3 header-col title">
                  <a href="/">
                        <img id="h1-img" class="logotype-header" src="/images/office-santos-logotype-4header-2.png" alt="">
                        <h1 id="h1-txt" class="site-title op-0">Office Santos</h1>
                  </a>
            </div>

            <div class="col-6 col-md-3 col-lg-3 d-none d-md-block header-col">
                  <p class="header-other">
            
                        <a class="header-link cta" href="https://www.map.org.uk/?form=FUNFXHDCJPK">Donate to Medical Aid for Palestinians</a>
            
                  </p>
            
            </div>

            <div class="col-6 col-md-3 col-lg-3 d-none d-md-block header-col">
                  <p class="header-other">
                        Graphic design & Illustration. <br> From Lisbon. <br>
                  </p>

                <a class="header-link" href="/about">Info</a> <br>
                <a class="header-link" href="https://soldesignarchive.com/?utm_source=officesantos&utm_medium=web&utm_campaign=24">Sol
                    Design Archive</a><br>
                  
            </div>
            
            <div class="col-3 col-md-3 col-lg-3 d-none d-md-block header-col">

                <div class="button-group filter-button-group" style="display: inline;">
                    <!-- <span class="tags-browse">Browse </span><br><br> -->
                    <a href="/branding.html" class="header-link tags">branding,</a>
                    <a href="/illustration.html" class="header-link tags">illustration/collage,</a>
                    <a href="/covers.html" class="header-link tags">covers,</a>
                    <a href="/studio-prjs.html" class="header-link tags">Studio&nbsp;Projects</a>
                </div>
                <br>
                 
                  <!--
                  <a href="https://ydayflowers.com" target="blank" class="sub-header-link">Blog</a>
                  <a href="/backroom.html" class="sub-header-link">Back Room</a>
                  <a href="http://eepurl.com/gBkp_z" target="blank" class="sub-header-link newsletter">Newsletter</a>
                  <a href="https://instagram.com/dat.rs" target="blank" class="sub-header-link">Instagram</a>
                  <a href="https://twitter.com/officesantos" target="blank" class="sub-header-link">Twitter</a>
                  -->
            </div>

            <div class="col-12 d-md-none header-col-sm">
            
                <p class="header-other">
                    Graphic design & Illustration. <br> From Lisbon. <br>
                </p>
                
                <a class="header-link" href="/about">Info</a> <br>
                <a class="header-link" href="https://soldesignarchive.com/?utm_source=officesantos&utm_medium=web&utm_campaign=24">Sol
                    Design Archive</a><br>
                <div class="button-group filter-button-group" style="display: inline;">
                    <span class="tags-browse">Browse: </span>
                    <a href="" class="header-link tags">branding,</a>
                    <a href="" class="header-link tags">illustration/collage,</a>
                    <a href="" class="header-link tags">covers,</a>
                    <a href="" class="header-link tags">Studio&nbsp;Projects</a>
                </div>
                <br>

            </div>

            <div class="col-3 d-md-none">
            
                
            
            </div>

      </div>

</div>
