<div class="container-fluid header">

      <div class="row header-row">
            <div class="col-12 col-md-6 col-lg-3 header-col">
                  <a href="/">
                        <img class="bolicha-header" src="/images/office-santos-bolicha-mark-4-color-tight-new.jpg" alt="">
                  </a>
            </div>

            <div class="col-6 col-md-3 col-lg-3 d-none  d-md-block header-col">
                  <p class="header-other">
            
                        <a class="header-link" href="https://www.map.org.uk/?form=FUNFXHDCJPK">Donate to Medical Aid for Palestinians</a>
                        
            
                  </p>
            
            </div>

            <div class="col-6 col-lg-3 d-none  d-lg-block header-col">
                  <p class="header-other">

                        Graphic design & Illustration. <br>
                        Lisbon.

                  </p>

            </div>

            <div class="col-3 col-lg-3 d-none  d-md-block header-col">
                  <a class="header-link" href="/about">Contact/About</a> <br>
                  <a class="header-link" href="https://soldesignarchive.com/?utm_source=officesantos&utm_medium=web&utm_campaign=24">Sol Design Archive <span style="font-weight: 400;">(Beta)</span></a>

            </div>

      </div>

</div>
