<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@dat_rs2">
<meta name="twitter:title" content="{{ page.title }} → Office of Ricardo Santos">
<meta name="twitter:description" content="Graphic design. Illustration. Kindness. Lisbon → World.">
<meta name="twitter:creator" content="@dat_rs2">
<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="http://dat-rs.com/images/{{ page.prj_img }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }} → Office of Ricardo Santos" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dat-rs.com/{{ page.permalink }}" />
<meta property="og:image" content="http://dat-rs.com/images/{{ page.prj_img }}" />
<meta property="og:description" content="Graphic design. Illustration. Kindness. Lisbon → World." />
<meta property="og:site_name" content="Office of Ricardo Santos" />
<meta property="fb:admins" content="Facebook numeric ID" />

<!-- theme-color meta tag -->
<meta name="theme-color" content="#f2f2f2">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style-new.css">

<link rel="stylesheet" href="https://use.typekit.net/kjl8cvq.css">



<title>{{ page.title }}{% if page.client %} - {{ page.client }}{% endif %}</title>
<meta name="Description" content="{{ page.description }}">
