<div class="container-fluid sub-header">

        <div class="row">

                <div class="grid-item col-12 col-md-6 sub-header-col d-md-none">

                        <a class="sub-header-link" href="/about">Contact & About</a><br><br>
                </div>

                <div class="grid-item col-12 col-md-6 sub-header-col">

                        <h4 class="sub-header-subtitle d-none d-md-block ">Navigate projects</h4>

                        <div class="button-group filter-button-group" style="display: inline;">
                                <span class="d-md-none">Prjs: </span>
                                <a class="sub-button" title="All" href="/index-2.html#filter=*">all</a>
                                <a class="sub-button" title="Selected" href="/index-2.html#filter=.selected">selected</a>
                                <a class="sub-button" title="identity" href="/index-2.html#filter=.identity">identity</a>
                                <a class="sub-button" title="Illustration" href="/index-2.html#filter=.illustration">illustration</a>
                                <a class="sub-button" title="Collage" href="/index-2.html#filter=.collage">collage</a>
                                <a class="sub-button" title="Typography" href="/index-2.html#filter=.typography">typography</a>
                                <a class="sub-button" title="Covers" href="/index-2.html#filter=.covers">covers</a>
                                <a class="sub-button" title="Posters" href="/index-2.html#filter=.posters">posters</a>
                                <a class="sub-button d-none" title="Web" href="/index-2.html#filter=.web">web</a>
                                <a class="sub-button" title="Print" href="/index-2.html#filter=.print">print</a>
                                <a class="sub-button" title="Print" href="/index-2.html#filter=.studio-prj">Studio Project</a>
                                <a class="sub-button" title="Print" href="/index-2.html#filter=.ai">AI</a>
                                <a class="sub-button" title="Editorial" href="/index-2.html#filter=.editorial">editorial</a>
                                <a class="sub-button d-none" title="Motion" href="/index-2.html#filter=.motion">motion</a>
                                <a class="sub-button" title="Patterns" href="/index-2.html#filter=.patterns">patterns</a>
                                <a class="sub-button d-none" title="Research" href="/index-2.html#filter=.research">research/writing</a>
                        </div>
                </div>

                <div class="grid-item col-12 col-md-6 col-lg-4 offset-lg-2 sub-header-col">

                        <h4 class="sub-header-subtitle d-none d-md-block ">More</h4><br class="d-md-none">

                        <a href="http://eepurl.com/gBkp_z" target="blank" class="sub-header-link newsletter">Newsletter</a>
                        <a href="https://instagram.com/dat.rs" target="blank" class="sub-header-link selected">Instagram</a>
                        <a href="http://dribbble.com/dat-rs" target="blank" class="sub-header-link">Dribbble</a>
                        <a href="https://twitter.com/officesantos" target="blank" class="sub-header-link">Twitter</a><br><br>

                </div>

        </div>

</div>
