<div class="container-fluid sub-header">

      <div class="row g-3">

            <div class="grid-item col-12 col-md-6 sub-header-col d-md-none">
                  <a class="sub-header-link" href="https://www.map.org.uk/?form=FUNFXHDCJPK">Donate to Medical Aid for Palestinians</a><br>
                  <a class="sub-header-link" href="/about">Contact/About</a><br><br>
            </div>

            <div class="grid-item col-12 col-md-6 col-lg-8 sub-header-col">

                  <h4 class="sub-header-subtitle d-none d-md-block ">Navigate projects</h4>

                  <div class="button-group filter-button-group" style="display: inline;">
                        <span class="d-md-none">Prjs: </span>
                        <button class="sub-button is-checked" data-filter="*">all</button>
                        <button class="sub-button" data-filter=".identity">identity</button>
                        <button class="sub-button" data-filter=".illustration">illustration</button>
                        <button class="sub-button" data-filter=".collage">collage</button>
                        <button class="sub-button" data-filter=".typography">typography</button>
                        <button class="sub-button" data-filter=".covers">covers</button>
                        <button class="sub-button" data-filter=".posters">posters</button>
                        <button class="sub-button d-none" data-filter=".web">web</button>
                        <button class="sub-button" data-filter=".print">print</button>
                        <button class="sub-button" data-filter=".studio-prj">Studio Project</button>
                        <button class="sub-button" data-filter=".ai">AI</button>
                        <button class="sub-button" data-filter=".editorial">editorial</button>
                        <button class="sub-button d-none" data-filter=".motion">motion</button>
                        <button class="sub-button" data-filter=".patterns">patterns</button>
                        <button class="sub-button d-none" data-filter=".research">research/writing</button>
                  </div>

            </div>

            <div class="grid-item col-12 col-md-6 col-lg-4 sub-header-col">

                  <h4 class="sub-header-subtitle d-none d-md-block ">More</h4><br class="d-md-none">

                  <a href="https://ydayflowers.com" target="blank" class="sub-header-link">Blog</a>
                  <a href="/backroom.html" class="sub-header-link">Back Room</a>
                  <a href="http://eepurl.com/gBkp_z" target="blank" class="sub-header-link newsletter">Newsletter</a>
                  <a href="https://instagram.com/dat.rs" target="blank" class="sub-header-link">Instagram</a>
                  <a href="https://twitter.com/officesantos" target="blank" class="sub-header-link">Twitter</a>

            </div>


      </div>

</div>
