<div class="container-fluid sub-header">

      <div class="row g-3">

            <div class="grid-item col-12 col-md-6 sub-header-col d-md-none">

                  <a class="sub-header-link" href="/about">Contact & About</a><br><br>
            </div>

            <div class="grid-item col-12 col-md-6 col-lg-8 sub-header-col">

                  <h4 class="sub-header-subtitle d-none d-md-block ">Back Room:</h4>
                  <p>Sketches, WIPs, killed, behind the scenes, random stuff, personal stuff.</p>


            </div>

            <div class="grid-item col-12 col-md-6 col-lg-4 sub-header-col">

                  <h4 class="sub-header-subtitle d-none d-md-block ">More</h4><br class="d-md-none">

                  <a href="/backroom.html" target="blank" class="sub-header-link newsletter">Back Room</a>
                  <a href="http://eepurl.com/gBkp_z" target="blank" class="sub-header-link newsletter">Newsletter</a>
                  <a href="https://instagram.com/dat.rs" target="blank" class="sub-header-link">Instagram</a>
                  <a href="https://twitter.com/officesantos" target="blank" class="sub-header-link">Twitter</a>

            </div>


      </div>

</div>
