<div class="container-fluid sub-header">

      <div class="row">

            <div class="grid-item col-12 col-md-6 sub-header-col sub-header-perm-col order-md-1">

                  <h4 class="sub-header-subtitle">Navigate projects</h4>

            </div>

            <div class="grid-item col-12 col-md-6 sub-header-col show order-md-3" id="sub-header-collapse-col">

                  <div class="button-group filter-button-group" style="display: inline;">
                        <button class="sub-button-new" data-filter="*">all</button>
                        <button class="sub-button-new is-checked" data-filter=".selected">selected</button>
                        <button class="sub-button-new" data-filter=".identity">identity</button>
                        <button class="sub-button-new d-none" data-filter=".illustration">illustration</button>
                        <button class="sub-button-new" data-filter=".collage">collage</button>
                        <button class="sub-button-new" data-filter=".typography">typography</button>
                        <button class="sub-button-new" data-filter=".covers">covers</button>
                        <button class="sub-button-new" data-filter=".posters">posters</button>
                        <button class="sub-button-new d-none" data-filter=".web">web</button>
                        <button class="sub-button-new" data-filter=".print">print</button>
                        <button class="sub-button-new" data-filter=".studio-prj">Studio Project</button>
                        <button class="sub-button-new" data-filter=".ai">AI</button>
                        <button class="sub-button-new" data-filter=".editorial">editorial</button>
                        <button class="sub-button-new d-none" data-filter=".motion">motion</button>
                        <button class="sub-button-new" data-filter=".patterns">patterns</button>
                        <button class="sub-button-new d-none" data-filter=".research">research/writing</button>
                  </div>

            </div>

            <div class="grid-item col-12 col-md-6 col-lg-4 offset-lg-2 sub-header-col sub-header-perm-col order-md-2">

                  <a class="sub-header-subtitle" data-toggle="collapse" href="#sub-header-collapse-col" role="button" aria-expanded="true" aria-controls="sub-header-collapsable-col">More</a>

            </div>



            <div class="grid-item col-12 col-md-6 col-lg-4 offset-lg-2 sub-header-col show order-md-4" id="sub-header-collapse-col">

                  <a href="http://eepurl.com/gBkp_z" target="blank" class="sub-header-link newsletter">Newsletter</a>
                  <a href="https://instagram.com/dat.rs" target="blank" class="sub-header-link selected">Instagram</a>
                  <a href="http://dribbble.com/dat-rs" target="blank" class="sub-header-link">Dribbble</a>
                  <a href="https://twitter.com/officesantos" target="blank" class="sub-header-link">Twitter</a><br><br>


            </div>

      </div>

</div>
