<!doctype html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111744030-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111744030-1');
</script>  
      
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=kP372ndgX8">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=kP372ndgX8">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=kP372ndgX8">
<link rel="manifest" href="/site.webmanifest?v=kP372ndgX8">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=kP372ndgX8" color="#ff0000">
<link rel="shortcut icon" href="/favicon.ico?v=kP372ndgX8">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">

	<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@dat_rs2">
<meta name="twitter:title" content="Office of Ricardo Santos">
<meta name="twitter:description" content="Graphic design. Illustration. Kindness. Lisbon → World.">
<meta name="twitter:creator" content="@dat_rs2">
<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="http://dat-rs.com/images/03-lockup-2-v2.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Office of Ricardo Santos" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dat-rs.com/" />
<meta property="og:image" content="http://dat-rs.com/images/03-lockup-2-v2.jpg" />
<meta property="og:description" content="Graphic design. Illustration. Kindness. Lisbon → World." /> 
<meta property="og:site_name" content="Office of Ricardo Santos" />  
	  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.css">
	<link rel="stylesheet" href="/style-new.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kjl8cvq.css">
 
	  
    <title>Office of Ricardo Santos — graphic design &amp; illustration</title>
    <meta name="Description" content="Office of Ricardo Santos is the graphic design and illustration practice of... Ricardo Santos. Based in Lisbon, we work with clients big and small all over the world.">
      
  </head>
  
  <body>
    
              <div class="container-fluid header">

		<div class="row header-row">
			<div class="col-6 col-lg-4 header-col">
				<a href="index.html"><h1>Office of <br>Ricardo Santos</h1></a>
			    <p id="mobile-desc" class="d-lg-none">
                    Graphic design. Illustration. Kindness. <br>
                    Lisbon → World.
                
                </p>
			</div>
		
			<div class="col-6 col-lg-3 d-none d-lg-flex header-col">
				Graphic design. Illustration. Kindness. <br>
                Lisbon → World.
			
			</div>
		
			<div class="col-3 col-md-2 col-lg-1 offset-lg-1 d-none d-lg-flex header-col">
                <a class="top-link cta" href="contact.html">Contact</a>
			
			</div>
			
			<div class="col-3 col-md-2 col-lg-1 d-none d-lg-flex header-col">
                <a class="top-link" href="about.html">About</a>
			
			</div>				
            
            <div class="col-6 d-lg-none header-col">
                <a class="top-link cta" href="contact.html">Contact</a><br>
				<a class="top-link" href="about.html">About</a><br>
			
			</div>
			
           
			
			
		</div>
		 
		</div>  
		 
	  
	<div class="container-fluid sub-header">

		<div class="row sub-header-perm-row">
            
            <div class="grid-item col-6 col-lg-4 grid-img-2 sub-header-col">
				
				<a class="sub-header-subtitle" data-toggle="collapse" href="#sub-header-collapse-row" role="button" aria-expanded="true" aria-controls="sub-header-collapsable-row">View</a>
                

			</div>			
			
			<div class="grid-item col-6 col-lg-4 grid-img-2 sub-header-col">
			    
                <a class="sub-header-subtitle" data-toggle="collapse" href="#sub-header-collapse-row" role="button" aria-expanded="true" aria-controls="sub-header-collapsable-row">Filter by type</a>
			
			</div>
            
            <div class="d-none d-lg-flex grid-item col-6 col-lg-4 selected poster grid-img-2 sub-header-col">
			    
                <a class="sub-header-subtitle" data-toggle="collapse" href="#sub-header-collapse-row" role="button" aria-expanded="true" aria-controls="sub-header-collapsable-row">More</a>	
                
			</div>
            
            
        </div>    
        
        <div class="row collapse" id="sub-header-collapse-row">
            
            <div class="grid-item col-6 col-lg-4 grid-img-2 sub-header-col">
				
				<a href="index-list.html" class="fake-sub-button">list</a> <a href="/index.html" class="fake-sub-button selected">grid</a>
			
			</div>			
			
			<div class="grid-item col-6 col-lg-4 grid-img-2 sub-header-col prj-page-sub-header">
				
				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.selected"><i>selected</i></a> 
  				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=*" >all</a> 
 				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.identity" >branding</a> 
  				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.illustration" >illustration</a> 
  				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.collage" >collage</a> 
 				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.type" >typography</a>
                <a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.cover" >covers</a> 
  				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.poster" >posters</a> 
 				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.web" >web</a> 
  				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.print" >print</a> 
                <a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.editorial" >editorial</a> 
 				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.motion" >motion</a> 
                <a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.patterns" >patterns</a> 
				<a class="sub-button" href="http://dat-rs.com/index-2.html#filter=.research">research/writing</a>
            
			
			</div>
            
            <div class="d-none d-lg-block grid-item col-6 col-lg-4 selected poster grid-img-2 sub-header-col">
				
				<a href="https://instagram.com/dat.rs" class="fake-sub-button selected">instagram</a>
                <a href="http://dribbble.com/dat-rs" class="fake-sub-button">dribbble</a>
                <a href="https://twitter.com/dat_rs2" class="fake-sub-button">twitter</a>
			
			</div>	
			
			
			
			
			
		</div>
        
      </div>
    
	{{ content }}  
	  
    
    
  </body>
  
  </html>
